/* style.css */
body {
  background-color: rgb(240,240,240);
  color: rgb(20, 20, 20);
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

h1{
  font-family: 'Bebas neue', cursive;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

div
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.bg-black{
  background-color: black;
  color: rgb(255,255,255);
}

/* NAVIGATION */

nav.navbar.shrink {
  background: rgba(0, 0, 0, 0.85);
}
nav.navbar{
  background-color:transparent;
   -webkit-transition: background 0.5s ease;
   transition: all 0.5s ease;
}

.titre-asso{
  font-family: 'Bebas neue', cursive;
  font-size: 32px;
  letter-spacing: 1px;
}

/* HOMEPAGE HEADER */

.header{
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: black;
  padding: 5rem;
}

.header h1{
  font-family: 'Bebas neue', cursive;
  font-size: 50px;
  color: rgb(255,255,255);
  letter-spacing: 5px;
}

.header h2{
  font-size: 18px;
  color: rgb(255,255,255);
  font-weight: lighter;
}

/* OTHER PAGES HEADER */

.asso-bg{
  padding: 5rem 3rem;
  align-items:center;
}

.spectacle-bg{
    background: url(../image/header_spectacles.jpg);
    padding: 7rem;
}

#header_anciens {
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 5rem;
  }

.page-header{

  width: 100%;
  height: auto;
  text-align: center;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

.page-header h1{
  font-family: 'Bebas neue', cursive;
  font-size: 32px;
  color: rgb(255,255,255);
  letter-spacing: 5px;
}

.page-header h2{
  font-size: 24px;
  color: rgb(255,255,255);
  font-weight: lighter;
  }

/* CONTENT-SECTION */

.content-section{
  padding:1rem 1.5rem;
  text-align: center;
  align-items: center;
}

.content-section h4{
  margin-top:1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.content-section .petit img{
  width: 60%;
  height: auto;
  }

.homepad{
  padding:1rem;
}

/* BACKGROUND CURVES */

.number-curves{
  background: url(../image/bg_curves/index_number_curves.svg);
  background-repeat:no-repeat;
  background-position: bottom center;
  background-size: 105%, 105%, contain;
  padding-bottom: 10%;
}

.asso-curves{
  background: url(../image/bg_curves/index_asso_curves.svg), url(../image/bg_curves/index_spectacle_bot_curves_2.svg);
  background-repeat:no-repeat;
  background-position: right top, center bottom;
  background-size: 105%, 105%, contain;
  padding-top: 10%;
}

.troupe-curves{
  background: url(../image/bg_curves/asso_troupe_curves.svg), url(../image/bg_curves/index_spectacle_bot_curves_2.svg);
  background-repeat:no-repeat;
  background-position: right top, center bottom;
  background-size: 105%, 105%, contain;
  padding-bottom: 10%;
}

.ms-curves{
  background: url(../image/bg_curves/asso_ms_curves.svg), url(../image/bg_curves/index_spectacle_bot_curves_2.svg);
  background-repeat:no-repeat;
  background-position: top center, bottom center;
  background-size: 105%, 105%, contain;
  padding-top: 10%;
  padding-bottom: 10%;
}

.spectacle-passage-curves{
  background: url(../image/bg_curves/spectacle_passage_curves.svg);
  background-repeat:no-repeat;
  background-position: top center;
  background-size: 105%, 105%, contain;
  padding-top: 17%;
}

.spectacle-curves{
  background: url(../image/bg_curves/spectacle_right_curves.svg), url(../image/bg_curves/spectacle_left_curves.svg);
  background-repeat:no-repeat;
  background-position: right top 75%, left top 10%;
  background-size: 50%, 50%;
}

/* RESPONSIVE MOBILE*/
@media (min-width: 768px) {
  .asso-bg{
    text-align: left;
  }
  .spectacle-bg{
      padding: 7rem 0rem 17rem 0rem;
  }
  .page-header h1{
      font-size: 64px;
  }
  .page-header h2{
      font-size: 36px;
  }

  #header_anciens{
    background-image: url(../image/header_anciens.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: bottom;
    padding: 7rem 0rem 17rem 0rem;
  }
}

@media (min-width: 576px) {
  #accueil {
    height: 100%;
    background: url(../image/home.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }
  .header h1{
    font-size: 100px;
  }
  .header h2{
    font-size: 24px;
  }

}

@media (max-width: 576px) {
  .content-section h1{
    font-size: 2rem;
  }
  .content-section h2{
    font-size: 1.5rem;
  }
  .content-section h3{
    font-size: 1.25rem;
  }

  .spectacle-curves{
    background-size: 100%, 100%;
  }

  .asso-curves{
    padding-top: 15%;
  }
}

/* BTN SCROLLER HOME*/

.btn-circle{
    font-size: 26px;
    font-weight: thin;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    background: transparent;
}

.btn-circle:hover{
  color: #e2e6ea;
}


/* CAROUSEL*/

@media (min-width: 992px) {
  #carouselAM{
    width: 70%;
    margin: 0 auto;
  }
}

.carousel-item img{
  width: 100%;
  height:auto;
}


/* WHITE-CARD */

.white-card {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  margin: 1rem;
  padding:1rem;
  color: rgb(20,20,20);
}


.footer{
  padding: 1rem 3rem;
  margin: -15px;
  background-color: rgb(240,240,240);
  text-align: center;
  color:rgb(20,20,20);
  font-size: 0.8rem;
}

.footer-item{
  display: inline-block;
  text-align: left;
}

.footer-titre-asso{
  font-family: 'Bebas neue', cursive;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.footer ul{
  list-style: none;
  margin-bottom: 0rem;
  padding-inline-start:0rem;
}

.footer li{
  margin-bottom: 0.2rem;
}

.footer a{
  color:rgb(20,20,20);
  margin: 0.5rem;
}

.footer a:hover{
  color: red;
  text-decoration: none;
}

#ctaFooter{
  color:rgb(240,240,240);
}
